@* About Me *@
@using Portfolio.Pages.Components
<SectionComponent Title="About Me" Id="about" Icon="bi bi-person-fill">
    <p class="fs-4">
        Welcome to my portfolio! I'm a software developer specializing in .NET and full stack development. With experience 
        in C#, Blazor, and SQL, I've built applications that emphasise clean code, maintainability, and user experience. 
        I practice test-driven development (TDD) and continuously refine my skills by exploring DevOps pipelines and 
        deployment automation, aligning my work with modern industry practice.
        <br /><br />
        Outside of coding, I'm deeply engaged in my community. From volunteering with student groups and supporting 
        international peers, to organizing events in the local Pokémon Go community. These experiences have strengthened 
        my teamwork, leadership, and communication skills, making me not only a capable developer, but also someone who 
        contributes positively to any environment.
    </p>
</SectionComponent>