@using Models
@using Portfolio.Pages.Components
@using System.Text.Json

<div class="p-3 m-3 section bg-light border rounded">
    <h3 class="fw-bold"><i class="bi bi-mortarboard-fill" /> Education</h3>
        @foreach(var degree in Degrees.Values){
            <EducationComponent Degree="@degree" />
        }
</div>

@code{
    //keeps degrees in order or most recently acquired
    private SortedDictionary<DateTime, Degree> Degrees = new(new ReverseDateTimeComparer());
    [Inject]
    private HttpClient? Http { get; set; }
    protected override async Task OnInitializedAsync(){
        string data = "";
        if(Http is not null){
            data = await Http.GetStringAsync("data/degrees.json");
        }
        JsonSerializerOptions options = new() { PropertyNameCaseInsensitive = true };
        Degrees = JsonSerializer.Deserialize<SortedDictionary<DateTime, Degree>>(data, options) ?? new(new ReverseDateTimeComparer());
    }
}