@* Header *@
<div class="d-flex justify-content-center section" >
    <div class="me-4">
        <img src="headshot.jpg" class="rounded-circle" style="width: 150px; height: 150px;" />
    </div>
    <div class="align-self-center">
        <h1 id="home">Alex Paquette</h1>
        <h3>Software Developer | BSc (Honours)</h3>
    </div>
</div>