@* Header *@
<div class="d-flex justify-content-center" style="padding-top: 78px; padding-bottom: 78px;">
    <div class="me-4">
        <img src="headshot.jpg" class="rounded-circle profile-photo" style="width: 200px; height: 200px;" />
    </div>
    <div class="align-self-center">
        <h1 id="home" class="header">Alex Paquette</h1>
        <h3 class="body-text">Software Developer | BSc (Honours)</h3>
    </div>
</div>