@* Header *@
<div class="d-flex justify-content-center debug max-width" >
    <div class="flex-shrink-0 me-4">
        <img src="headshot.jpg" class="rounded-circle debug" style="width: 150px; height: 150px;" />
    </div>
    <div class="d-flex flex-column align-self-center">
        <h1>Alex Paquette</h1>
        <h3>Software Developer | BSc (Honours)</h3>
    </div>
</div>