@using Models
@using Portfolio.Pages.Components
@using System.Text.Json

@* ToDo: Sort projects by date (newest first) *@
<SectionComponent Title="Personal Projects" Id="projects" Icon="bi bi-folder-fill">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach(Project project in Projects){
            <ProjectComponent Project=@project />
        }
    </div>
</SectionComponent>

@code{
    private SortedSet<Project> Projects = new();
    [Inject]
    private HttpClient? Http { get; set; }
    
    protected override async Task OnInitializedAsync(){
        string data = Http is not null ? await Http.GetStringAsync("data/personalProjects.json") : "";
        Projects = JsonSerializer.Deserialize<SortedSet<Project>>(data, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true }) ?? new();
    }
}