@using Models
@using Portfolio.Pages.Components

@* All projects *@
<div class="p-3 m-3 section bg-light border rounded">
    <h3 class="fw-bold"><i class="bi bi-folder-fill" /> Projects</h3>
    <div class="d-flex flex-wrap justify-content-center">
        @foreach(Project project in Projects){
            <ProjectComponent Project=@project />
        }
    </div>
</div>

@code{
    List<Project> Projects = new();

        protected override void OnInitialized(){
            Projects.Add(
                new()
                {   
                    Title = "Verification Project", Description = "This project demonstrates my ability to create unit tests and follow test-driven development.", 
                    TechStack = new(){ "Java", "JUnit", "Unit Testing", "TDD" }, Link = "https://github.com/apaquette/Verification-Project"
                }
            );
            Projects.Add(
                new(){
                    Title = "Jenkins Project", Description = "This project demonstrates my ability to produce pipelines using Jenkins for Continuous Integration and Continuous Delivery.", 
                    TechStack = new(){ "Java", "Jenkins", "CI/CD", "DevOps" }, Link = "https://github.com/apaquette/Jenkins-Project"
                }
            );
            Projects.Add(
                new(){
                    Title = "Secure App Development Project", Description = "This project demonstrates all mitigation techniques learned during the module to secure web apps.", 
                    TechStack = new(){ "PHP", "PHPUnit", "SQL" }, Link = "https://github.com/apaquette/Secure-App-Develoment-Project"
                }
            );
            Projects.Add(
                new(){
                    Title = "Wator Project", Description = "This project demonstrates tiling and parallelization with the Wator simulation.", 
                    TechStack = new(){ "C++", "Doxyfile", "Linux" }, Link = "https://github.com/apaquette/Wator-Project"
                }
            );
            Projects.Add(
                new(){
                    Title = "ML Notebooks", Description = "This project contains a collection of notebooks demonstrating my learning process in ML and NN algorithms.", 
                    TechStack = new(){ "Python", "ML", "SKlearn", "Tensorflow", "Jupyter" }, Link = "https://github.com/apaquette/Machine-Learning-Notebooks"
                }
            );
        }
}