@using Models
@using Portfolio.Pages.Components

@* All projects *@
<div class="p-3 m-3 section bg-light border rounded">
    <h3>📂 Projects</h3>
    <div class="d-flex flex-wrap justify-content-center">
        @foreach(Project project in Projects){
            <ProjectComponent Project=@project />
        }
    </div>
</div>

@code{
    List<Project> Projects = new();

        protected override void OnInitialized(){
            Projects.Add(new Project("Verification Project", "This project demonstrates my ability to create unit tests and follow test-driven development.", new(){"Java", "JUnit"}, "https://github.com/apaquette/Verification-Project", ""));
            Projects.Add(new Project("Jenkins Project", "This project demonstrates my ability to produce pipelines using Jenkins for Continuous Integration and Continuous Delivery.", new(){"Java", "Jenkins"}, "https://github.com/apaquette/Jenkins-Project", ""));
            Projects.Add(new Project("Secure App Development Project", "This project demonstrates all mitigation techniques learned during the module to secure web apps.", new(){"PHP", "PHPUnit", "SQL"}, "https://github.com/apaquette/Secure-App-Develoment-Project", ""));
            Projects.Add(new Project("Wator Project", "This project demonstrates tiling and parallelization with the Wator simulation.", new(){"C++", "Doxyfile", "Linux"}, "https://github.com/apaquette/Wator-Project", ""));
            Projects.Add(new Project("ML Notebooks", "This project contains a collection of notebooks demonstrating my learning process in ML and NN algorithms.", new(){"Python", "ML", "Tensorflow", "Jupyter"}, "", ""));
        }
}