@using Models
@using Portfolio.Pages.Components
@using System.Text.Json

<SectionComponent Title="Skills" Icon="bi bi-tools">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach(var kvp in SkillSet){
            <div class="card m-2" style="width: 300px;">
                <div class="card-body">
                    <h5>@kvp.Key</h5>
                    @foreach(string skill in kvp.Value){
                        <SkillComponent Skill=@skill />
                    } 
                </div>
            </div>
        }
    </div>
</SectionComponent>

@code{
    private Dictionary<string, List<string>> SkillSet = new();
    [Inject]
    private HttpClient? Http { get; set; }
    protected override async Task OnInitializedAsync(){
        string data = Http is not null ? await Http.GetStringAsync("data/skillSet.json") : "";
        JsonSerializerOptions options = new() { PropertyNameCaseInsensitive = true };
        SkillSet = JsonSerializer.Deserialize<Dictionary<string, List<string>>>(data, options) ?? new();
    }

}