@* Professional Summary *@
@using Portfolio.Pages.Components
<SectionComponent Title="Professional Summary">
    <p class="fs-4 body-text">
        Bilingual French/English software developer with more than 6 years combined experience in computer repairs and software development. 
        
        Specializing in .NET and full-stack development, with experience in C#, Blazor, and SQL. 

        Proven track record of successfully deploying software solutions to Azure using GitHub Actions.

        Skilled in test-driven development (TDD) and building clean, scalable, and user-focused applications.

        Passionate about delivering reliable solutions while continuously learning and adapting to new technologies.
    </p>
</SectionComponent>