@* Professional Summary *@
<div class="p-3 m-3 section bg-light border rounded">
    <h3>✨ Professional Summary</h3>
    <p>
        Software Developer specializing in .NET and full-stack development, with experience in C#, Blazor, and SQL. 
        Skilled in test-driven development (TDD) and building clean, scalable, and user-focused applications. 
        Passionate about delivering reliable solutions while continuously learning and adapting to new technologies.
    </p>
</div>