@* Professional Summary *@
@using Portfolio.Pages.Components
<SectionComponent Title="Professional Summary" Icon="bi bi-stars">
    <p class="fs-4">
        Software Developer specializing in .NET and full-stack development, with experience in C#, Blazor, and SQL. 
        Skilled in test-driven development (TDD) and building clean, scalable, and user-focused applications. 
        Passionate about delivering reliable solutions while continuously learning and adapting to new technologies.
    </p>
</SectionComponent>