@* Professional Summary *@
<div class="pt-5 d-flex flex-wrap justify-content-center debug max-width">
    <div class="pe-5 flex-fill" style="margin: 0 auto;">
        <h3>✨ Professional Summary</h3>
        <p>
            Software Developer specializing in .NET and full-stack development, with experience in C#, Blazor, and SQL. 
            Skilled in test-driven development (TDD) and building clean, scalable, and user-focused applications. 
            Passionate about delivering reliable solutions while continuously learning and adapting to new technologies.
        </p>
    </div>
</div>