<SectionComponent Title="Work History" Id="work" Icon="bi bi-briefcase-fill">
    <div style="margin-left: -0.5rem;">
        @foreach(var job in WorkExperiences){
            <WorkExperienceComponent WorkExperience=@job />
        }
    </div>
</SectionComponent>