@if(Item is not null){
    <div class="mt-4 ps-4 border-start">
        <h5 class="card-title body-text">@Item.Diploma</h5>
        <div class="d-flex justify-content-start">
            <a href=@Item.Website class="d-flex" >
                <img src=@Item.Logo class="me-2 rounded" style="width: 30px; height: 30px; background-color: white;" />
                <div>@Item.Institution</div>
                <i class="bi bi-box-arrow-up-right ps-2" />
            </a>
        </div>
        <div class="align-self-end body-text">Graduate: @Item.GraduationDate.ToString("MMMM yyyy")</div>
    </div>
}