@using Portfolio.Layout.Components

<footer class="footer border-top py-3">
    <div class="container-fluid">
        <div class="row align-items-center g-0">
            <!-- Name and Title -->
            <div class="col-md-6">
                <h5 class="mb-0" style="color: var(--primary-color);">Alex Paquette</h5>
                <small style="color: var(--secondary-color);">Senior Software Developer</small>
            </div>

            <!-- Social Links and Copyright -->
            <div class="col-md-6 text-md-end">
                <div class="d-flex justify-content-md-end justify-content-start gap-3">
                    <a href="https://github.com/apaquette" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="GitHub" data-bs-placement="top">
                        <i class="bi bi-github" style="font-size: 1rem;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/apaquette0/" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="LinkedIn" data-bs-placement="top">
                        <i class="bi bi-linkedin" style="font-size: 1rem;"></i>
                    </a>
                    <a href="mailto:alexandre.d.paquette@gmail.com" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="Email" data-bs-placement="top">
                        <i class="bi bi-envelope-fill" style="font-size: 1rem;"></i>
                    </a>
                    <span style="color: var(--secondary-color);">&copy; @DateTime.Now.Year Code By Alex</span>
                </div>
            </div>
        </div>
    </div>
</footer>