@using Portfolio.Layout.Components

<div class="d-flex justify-content-between align-items-center fixed-top">
    <a class="ps-3 pe-3" href="#home">
        <img src="AlexCodes-logo.png" style="width: 3rem;" />
    </a>
    <Navbar />
    <ContactInfo />
</div>