@using System.Diagnostics.CodeAnalysis
@inherits LayoutComponentBase
@attribute [ExcludeFromCodeCoverage]

<div class="page">
    <main>
        <Header />
        <article class="content px-4" style="margin-top: 80px; flex: 1;">
            @Body
        </article>
    </main>
    <Footer />
</div>