@inherits LayoutComponentBase

<div class="page">
    <main>
        <Header />
        <article class="content px-4" style="margin-top: 80px; min-height: 60vh;">
            @Body
        </article>
    </main>
    <Footer />
</div>