@inherits LayoutComponentBase
@using Portfolio.Layout.Components

<div class="page">
    <main>
        <div class="d-flex justify-content-between align-items-center fixed-top">
            <div class="d-flex align-items-center">
                <Logo />

                <Breadcrumb />
            </div>
            <ContactInfo />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>