<p class="fs-4 body-text">
    Hi! Weclome to my portfolio. I'm a Senior Software Developer at Royal Bank of Canada,
    where I focus on building reliable, maintainable software that solves real buisness problems.
    My current work centers around enterprise Python devleopment, automation, long-term maintainability,
    and continuous improvement. I'm a strong advocate for best engineering practices, and I have a particular
    interest in SOLID principles, design patterns, secure development, and Test Driven Development.
    <br/><br/>
    My passion for software development started in high school, where I was first introduced to programming
    through an introductory course. I was immediately hooked, and knew early on this was the career
    I wanted to pursue. Due to personal circumstances, my path into software wasn't a straight one, and I
    instead spent five years working as a repair technician at Lenovo's repair depot. 
    My time there taught me how to approach problems methodically, troubleshoot under pressure, 
    and focus on finding root causes rather than quick fixes. These are skills I still rely on every day
    as a software developer.
    <br/><br/>
    Around the time of the pandemic, I decided it was time to fully pursue my passion for software development.
    I enrolled at Canadore College, where I completed my diploma with honours and began my first professional role
    as a software developer. Not long after, I was given the opportunity to continue my education abroad,
    and moved to Ireland to complete my degree at South East Technological University in Carlow as an advanced entry
    student. My time at SETU was one of the most formative experiences of my career. It was there that I was exposed
    to many of the concepts that now defien how I approach software development, including clean architecture, 
    SOLID principles, design patterns, secure development practices, and Test Driven Development. I also had
    the opportunity to work for a startup while living in Ireland, which gave me valuable experience applying
    those concepts in a real-world environment.
    <br/><br/>
    I later moved back to Canada and joined RBC, where I've continued to grow as a developer while putting 
    many of those lessons into practice. My work has included building enterprise automation solutions,
    modernizing legacy processes, supporting production systems, and helping improve software qualtiy across
    multiple codebases. Looking baack, every stage of my journey has shaped how i approach software today.
    I believe great software comes from strong engineering fundamentals, throughtful design, and willingness
    to continuously learn and improve.
</p>
