<div class="d-flex flex-row justify-content-center mb-4 gap-2">
    <a class="btn btn-custom" href="/projects">View Projects</a>
    <a class="btn btn-custom" href="/articles">Read Articles</a>
</div>