<div class="d-flex flex-row justify-content-center mb-4 gap-2">
    <a class="btn btn-primary" href="/projects">View Projects</a>
    <a class="btn btn-primary" href="/articles">View Articles</a>
</div>