<div class="d-flex flex-wrap justify-content-start" style="margin-left: -0.5rem;">
    @foreach(var certification in CertificationSet){
        <CertificationComponent Certification=@certification />
    }
</div>