@using Portfolio.Pages.Components
<style>

</style>
<nav id="navbar" class="navbar px-3 desktop">
    <ul class="nav nav-pills">
        @foreach(string link in links){
            <li class="nav-item">
                <a class="nav-link" href="#@link.ToLower()">@link</a>
            </li>
        }
    </ul>
</nav>

@code{
    private string[] links = ["Home", "About", "Projects", "Work", "Clients", "Skills"];
}