@inherits LayoutComponentBase
@using Portfolio.Pages.Components

<div class="page">
    <main>
        <div class="d-flex justify-content-between align-items-center fixed-top">
            <NavMenu />
            <ContactInfo />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>