@inherits LayoutComponentBase
@using Portfolio.Pages.Components
@inject IJSRuntime JS

<div class="page">
    <main>
        <div class="d-flex justify-content-between align-items-center fixed-top">
            <DesktopNavMenu />
            <ContactInfo />
            <MobileNavMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("getHeaderIds");
        }
    }
}
}