<div class="nav-container">
    <a class="mobile" data-bs-toggle="dropdown" aria-expanded="false">
        <h2 class="m-4">
            <i class="bi bi-list hamburger" />
        </h2>
    </a>
    <nav id="navbar" class="dropdown-menu">
        <ul class="nav nav-pills">
            @foreach(var item in NavItems){
                <li class="nav-item">
                    <NavLink class="nav-link" href="@item.Route" Match="NavLinkMatch.All">
                        @item.Label
                    </NavLink>
                </li>
            }
        </ul>
    </nav>
</div>