@page "/"
@layout MainLayout

@using Portfolio.Pages.Home.Sections


<PageTitle>Code By Alex</PageTitle>
<div class="d-flex flex-column align-items-center" style="margin-top: 50px;">
    <Hero />
    <About />
    <Projects />
    <WorkExperience />
    <Products />
    <Skills />
</div>