@page "/"

@using Portfolio.Pages.Home.Sections


<PageTitle>Code By Alex</PageTitle>
<div class="d-flex flex-column align-items-center" style="margin-top: 50px;">
    @foreach(var s in Sections){
        <SectionComponent Title=@s.Title Id=@s.Id Centered=@s.Centered>
        @if(s.JsonUrl is null){
                <DynamicComponent Type=@s.ComponentType />
        }else{
            <DynamicComponent
                Type=@s.ComponentType
                Parameters="@(new Dictionary<string, object?>{
                    ["JsonUrl"] = s.JsonUrl,
                    ["ItemComponentType"] = s.DataItemComponentType,
                    ["Class"] = s.Class,
                    ["Style"] = s.Style
                })"
            />
        }
        </SectionComponent>
    }
    @* @foreach (var s in SectionsList){
        <SectionComponent Title=@s.Title Id=@s.Id>
            @if(s.JsonUrl is null){
                <DynamicComponent Type=@s.ComponentType />
            }else{
                <DynamicComponent 
                    Type=@s.ComponentType
                    Parameters="@(new Dictionary<string, object?>{
                        ["JsonUrl"] = s.JsonUrl,
                        ["ItemComponentType"] = s.DataItemComponentType,
                        ["Class"] = s.Class,
                        ["Style"] = s.Style
                    })"
                />
            }
        </SectionComponent>
    } *@
    
</div>