@page "/"
@using Portfolio.Pages.Sections


<PageTitle>CodeByAlex</PageTitle>
<div class="d-flex flex-column align-items-center" style="margin-top: 50px;">
    <Hero />
    <Summary />
    <Education />
    <About />
    <PersonalProjects />
    <WorkExperience />
    <ClientProjects />
    <Skills />
</div>