@page "/"
@using Portfolio.Pages.Sections


<PageTitle>Code by Alex</PageTitle>
<div class="d-flex flex-column align-items-center">
    <Hero />
    <Summary />
    <About />
    <ProjectsSection />
</div>

@code{
    
}