<div class="card m-2 scale" style="width: 200px;">
    <div class="d-flex flex-row justify-content-center mb-4 gap-2" style="margin-top: 20px;">
        <a href="@Link" class="stretched-link card-link">
            <div class="card-title" style="margin-bottom: 0;">@Title</div>
        </a>
    </div>
</div>

@code{

}