<div class="card m-2 scale" style="width: 300px; text-align: left;">
    <div class="card-body">
        @if(Icon != null)
        {
            <div class="d-flex justify-content-center mb-2">
                @Icon
            </div>
        }

        @if(Link is null){
            <div class="d-flex justify-content-between">
                <h5 class="card-title" style="margin-bottom: 0;">@Title</h5>
            </div>
        }else{
            <a href=@Link class="stretched-link card-link">
                <h5 class="card-title" style="margin-bottom: 0;">@Title</h5>
            </a>
            <i class="bi bi-box-arrow-up-right ps-2" />
        }

        @if(!string.IsNullOrEmpty(Subtitle)){
            <div class="card-subtitle" style="font-style: italic;">@Subtitle</div>
        }
        <p class="card-text mt-1">
            @ChildContent
        </p>

        @if(Tags != null && Tags.Length > 0)
        {
            @foreach(string tag in Tags){
                <SkillComponent Skill="@tag" />
            }
        }
    </div>
</div>