@typeparam TItem
@if(Items != null && Items?.Count() != 0){
    <div class=@Class style=@Style>
        @foreach(var item in Items!){
            <DynamicComponent Type=@ItemComponentType Parameters="@(new Dictionary<string,object?> {["Item"] = item})"/>
        }
    </div>
}
