@using Models
@using System.ComponentModel.DataAnnotations

@if(Degree is not null){
    <div class="mt-4 ps-4 border-start">
        <h5 class="card-title body-text">@Degree.Diploma</h5>
        <div class="d-flex justify-content-start">
            <a href=@Degree.Website class="d-flex" >
                <img src=@Degree.Logo class="me-2 rounded" style="width: 30px; height: 30px; background-color: white;" />
                <div>@Degree.Institution</div>
                <i class="bi bi-box-arrow-up-right ps-2" />
            </a>
        </div>
        <div class="align-self-end body-text">Graduate: @Degree.GraduationDate.ToString("MMMM yyyy")</div>
    </div>
}

@code{
    [Parameter][Required]
    public Degree? Degree {get; set;}
}