@page "/projects/{ProjectName}"
@layout ProjectLayout
<PageTitle>Code by Alex | @ProjectName</PageTitle>
<div class="fs-4 body-text" style="margin-top: 50px;">
    @ProjectName
</div>

@code{
    [Parameter]
    public string? ProjectName { get; set; }
}