<div class="d-flex">
    <h3 class="m-1">
        <a href="mailto:alexandre.d.paquette@gmail.com">
            <i class="bi bi-envelope-fill" />
        </a>
    </h3>
    <h3 class="m-1">
        <a href="https://www.linkedin.com/in/apaquette0/">
            <i class="bi bi-linkedin" />
        </a>
    </h3>
    <h3 class="m-1">
        <a href="https://github.com/apaquette">
            <i class="bi bi-github" />
        </a>
    </h3>
</div>