<style>
   .debug{
        @* border: 3px dotted red; *@
   }

   .max-width{
        max-width: 800px;
   }
</style>

<div class="d-flex flex-column align-items-center">

    @* Header *@
    <div class="d-flex justify-content-center debug max-width" >
        <div class="flex-shrink-0 me-4">
            <img src="headshot.jpg" class="rounded-circle debug" style="width: 150px; height: 150px;" />
        </div>
        <div class="d-flex flex-column align-self-center">
            <h1>Alex Paquette</h1>
            <h3>Software Developer | BSc (Honours)</h3>
        </div>
    </div>

    @* Professional Summary *@
    <div class="pt-5 d-flex flex-wrap justify-content-center debug max-width">
        <div class="pe-5 flex-fill" style="margin: 0 auto;">
            <h3>✨ Professional Summary</h3>
            <p>
                Software Developer specializing in .NET and full-stack development, with experience in C#, Blazor, and SQL. 
                Skilled in test-driven development (TDD) and building clean, scalable, and user-focused applications. 
                Passionate about delivering reliable solutions while continuously learning and adapting to new technologies.
            </p>
        </div>
    </div>

    @* About Me *@
    <div class="pt-5 debug max-width">
        <h3>👤 About Me</h3>
        <p>
            Welcome to my portfolio! I'm a software developer specializing in .NET and full stack development. With experience 
            in C#, Blazor, and SQL, I've built applications that emphasise clean code, maintainability, and user experience. 
            I practice test-driven development (TDD) and continuously refine my skills by exploring DevOps pipelines and 
            deployment automation, aligning my work with modern industry practice.
            <br /><br />
            Outside of coding, I'm deeply engaged in my community. From volunteering with student groups and supporting 
            international peers, to organizing events in the local Pokémon Go community. These experiences have strengthened 
            my teamwork, leadership, and communication skills, making me not only a capable developer, but also someone who 
            contributes positively to any environment.
        </p>
        
    </div>
</div>