@using Models
@using System.ComponentModel.DataAnnotations
@* Singular project *@

@if(Project is not null){
    <div class="card m-2" style="width: 300px;">
        <div class="card-body">
            <a href=@Project.Link>
                <h5 class="card-title">@Project.Title</h5>
            </a>
            @* TechStack *@
            <p class="card-text m-1">@Project.Description</p>
                @foreach(string tech in Project.TechStack){
                    <span class="me-1 badge rounded-pill>" style="background: black; color: white;">@tech</span>
                }
        </div>
    </div>
}

@code{
    [Parameter][Required]
    public Project? Project {get; set;}
}