<div class="p-3 m-3 section" >
    <h3 id=@Id class="fw-bold header">@Title</h3>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? Id { get; set; }
}