<section id=@Id class="p-3 m-3 section" >
    <h3 class="header fw-bold pb-3">@Title</h3>
    @ChildContent
</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? Id { get; set; }
}