@using System.ComponentModel.DataAnnotations
<span class="me-1 badge rounded-pill>" style="background: #2563EB; color: white;">@Skill</span>

@code{
    [Parameter][Required]
    public string? Skill {get; set;}
}